<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.example.ch8_5.to.BoardDto"/>
        <typeAlias alias="UserDto" type="com.example.ch8_5.to.UserDto"/>

    </typeAliases>

</configuration>